{% if ea.crud.currentAction == 'detail' %}
	<ul>
		{% for item in field.value %}
			<li><a download href="{{ path('app_attachments_get', {path: item.path}) }}">{{ item.name }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	{% for item in field.value %}
		<span>{{ item.name }}{{ loop.last ? "" : "," }}</span>
	{% endfor %}
{% endif %}
