{% extends "@EasyAdmin/page/content.html.twig" %}

{% block page_title %}NCC Admin{% endblock %}

{% block page_content %}
    <h6>Veuillez sélectionner un module dans la barre de navigation </h6>
{% endblock %}