{% extends 'base.html.twig' %}

{% block title %}Nos Activités{% endblock %}

{% block body %}
    <div class="page">
        <twig:Heading title="Nos Activités" />
        <twig:Activities />
    </div>
{% endblock %}
