{% extends 'base.html.twig' %}

{% block title %}{{ "activities.label"|trans }}{% endblock %}

{% block body %}
    <div class="page">
        <twig:Heading title="{{ "activities.label"|trans }}" />
        <twig:Activities />
    </div>
{% endblock %}
