@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;

@include meta.load-css("flex");
@include meta.load-css("font/font");

@include meta.load-css("button");
@include meta.load-css("form");
@include meta.load-css("alert");
@include meta.load-css("modal");

@include meta.load-css("marquee");
@include meta.load-css("post");

@layer base {
	.box {
		@apply px-4 sm:px-6 md:px-8 lg:px-12 xl:px-28 2xl:px-56
	}
	.page {
		@apply box py-14
	}

	.page-center {
		@apply page pt-[10vh] flex-start flex-col;
	}
}

.home > div {
	@apply py-8
}

.medium-zoom-overlay {
	z-index: 98;
}
.medium-zoom-image--opened {
	z-index: 99;
}
