@tailwind base;
@tailwind components;
@tailwind utilities;

@import "button";
@import "flex";
@import "form";
@import "font/font";
@import "marquee";
@import "news";

@layer base {
	.box {
		@apply px-4 sm:px-6 md:px-8 lg:px-12 xl:px-28 2xl:px-56
	}
	.page {
		@apply box py-14
	}
}

.home > div {
	@apply py-8
}

.medium-zoom-overlay {
	z-index: 98;
}
.medium-zoom-image--opened {
	z-index: 99;
}