.marquee {
	@apply relative h-28 flex overflow-x-hidden select-none gap-8 bg-background-darker;

	> * {
		@apply flex-shrink-0 flex-around gap-8 min-w-full;

		animation: scroll 20s linear infinite;

		@media (min-width: 768px) {
			animation-duration: 25s;
		}

		img {
			@apply h-16 ml-20 grayscale hover:grayscale-0 transition-all;

			&.circle {
				@apply h-20 rounded md:rounded-full hover:rounded;
			}
		}
	}

	&:hover > * {
		animation-play-state: paused;
	}

	@keyframes scroll {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - 2rem));
		}
	}
}
