.modal {
	@apply fixed top-0 left-0 z-50;
	transform: translate(calc(50vw - 50%), calc(40vh - 55%));
	@apply hidden opacity-0 transition-opacity;

	&.active {
		@apply block opacity-100;
	}
}

.modal-background {
	@apply fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-40 cursor-pointer z-40;
}
