{% extends 'base.html.twig' %}

{% block title %}{{ "discover.label"|trans }}{% endblock %}

{% block body %}
    <div class="page">
        <twig:Heading title="{{ "discover.label"|trans }}" />
        <div class="flex max-lg:flex-col gap-12 mt-12">
            <div class="w-full lg:w-1/2">
                <p class="text-xl leading-8">{{ "discover.presentation"|trans|raw }}</p>
            </div>
            <div class="w-full lg:w-1/2">
                <p class="text-xl text-center -mt-6 pb-10">{{ "discover.video_suggestion"|trans }}</p>
                {% if app.locale == "fr" %}
                    <twig:Video src="https://www.youtube-nocookie.com/embed/4OG_-XH_ewA?si=tgNuLyiRF4LCP79r"
                                title="YouTube video player"/>
                {% else %}
                    <twig:Video src="https://www.youtube-nocookie.com/embed/g-beFHld19c?si=AtOhZ7qmm474EPtU"
                                title="YouTube video player"/>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
