<div class="header">
	<div class="logo">
		<img src="{{ absolute_url(asset('logo.png')) }}" alt="NCC Logo">
		<h2>Nîmes Cricket Club</h2>
	</div>
	<a href="{{ absolute_url(path('app_home')) }}" class="visit-btn">Visiter le site <span>→</span></a>
</div>


<style>
    *, ::before, ::after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: Inter, sans-serif;
    }

    .header .logo {
        display: flex;
        gap: 0.5rem;
    }

    .header .logo img {
        flex-shrink: 0;
    }

    .header .logo h2 {
        margin-top: .25rem;
    }

    .header {
        width: 100%;
        padding: 1rem 2rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
    }

    .header a {
        text-decoration: none;
        color: black;
    }

    .header img {
        width: 2rem;
    }

    .visit-btn {
        padding: 1rem 2.5rem;
        font-weight: bolder;
        font-size: 0.9rem;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
</style>
