<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Page{% endblock %} | NCC</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="w-screen min-h-screen flex flex-col overflow-x-hidden bg-background text-foreground text-base">
            <twig:Navbar />
            <main class="flex-1">
                {% block body %}{% endblock %}
            </main>
            <twig:Footer />
    </body>
</html>
