<div {{ attributes }}>
    <iframe class="w-full aspect-video mb-2" src="{{ src }}" title="{{ title }}" allowfullscreen
            allow="accelerometer; encrypted-media; picture-in-picture; web-share"></iframe>

    <p class="text-foreground-light text-sm italic">{{ "video_warn"|trans }}</p>
</div>
