<div {{ attributes }}>
    <iframe class="w-full aspect-video mb-2" src="{{ src }}" title="{{ title }}" allowfullscreen
            allow="accelerometer; encrypted-media; picture-in-picture; web-share"></iframe>

    <p class="text-foreground-light text-sm italic">
        En cliquant sur le bouton de lecture, vous consentez au chargement de cookies de suivi externes associés à YouTube.
        Assurez-vous d'être informé(e) de cette utilisation potentielle de cookies de suivi avant de procéder.
    </p>
</div>
